.header {
    width: 100%;
    background-color: blue;
    color: white;
    p {
        padding: 0;
        margin: 0;
    }
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerTitle {
    font-size: 2em;
}

.headerCart {
    button {
        background-color: transparent;
        border: none;
        color: inherit;
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
            margin-right: 0.5em;
        }
    }
}
